.DS_Store
TMDB_Project/Configs/TMDBConfig.xcconfig
TMDB_Project/Configs/TMDBConfig.xcconfig
TMDB_Project/TMDB_Project.xcodeproj/project.xcworkspace/xcuserdata/teriri.xcuserdatad/UserInterfaceState.xcuserstate
TMDB_Project/TMDB_Project.xcodeproj/project.xcworkspace/xcuserdata/teriri.xcuserdatad/UserInterfaceState.xcuserstate
